{% extends 'base.html.twig' %}
{% block title %}Dades Llibres{% endblock %}
{% block body %}
    <h1>Fitxa del llibre</h1>
    {% if llibre %}
        {{ include ('dades_llibre.html.twig', { 'llibre': llibre }) }}
        <p>
            <a href="{{ path('inici') }}">
                Torna a l'inici<img src="{{ asset('img/tornar.png') }}" alt="Tornar inici" class="tornar" />
            </a>
        </p>
    {% else %}
        <p>Llibre no trobat<br/>
            <img src="{{ asset('img/notrobat.png') }}" alt="Llibre no trobat" class="imatge" />
            <br/>
            <a href="{{ path('inici') }}">
                Torna a l'inici<img src="{{ asset('img/tornar.png') }}" alt="Tornar inici" class="tornar" />
            </a>
        </p>
    {% endif %}
{% endblock %}