{% extends 'base.html.twig' %}
{% block title %}Llibres{% endblock %}
{% block body %}
    <h1>Biblioteca Personal NomAlumne</h1>
   
    <p>Pàgina d'inici <br/>
    Projecte Symfony 2n DAW <br/>
    Curs 20/21<br/>
    <ul>
    {% for llibre in llibres %}
        <li>
            <a href="{{ path('fitxa_llibre', {'isbn': llibre.isbn}) }}">
                {{ llibre.titol }}
            </a>
            <a href="{{ path('editar_llibre', {'isbn': llibre.isbn}) }}">
                <img src="{{ asset('img/editar.png') }}" alt="Edita llibre" class="editar" />
            </a>
        </li>

    {% endfor %}
    </ul>

    <!--a href="{{ path('fitxa_llibre', {'isbn': 'J91F56'}) }}">
        Torna a l'inici <img src="{{ asset('img/llibres.png') }}" alt="imatge inici" class="imatge" />
    </a-->
    </p>
{% endblock %}